
<div class="col-xs-12 header_desktop">
	<div class="col-xs-9 titulo">
		<i class="fa fa-futbol-o" aria-hidden="true"></i><span>Onde Tem Jogo</span>
	</div>
	<div class="col-xs-3 input_pesquisa">
		<form action="#">
			<div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
				<label class="mdl-button mdl-js-button mdl-button--icon" for="sample6">
					<i class="material-icons">search</i>
				</label>
				<div class="mdl-textfield__expandable-holder">
					<input class="mdl-textfield__input" type="text" id="sample6">
					<label class="mdl-textfield__label" for="sample-expandable">Expandable Input</label>
				</div>
			</div>
		</form>

	</div>

</div>
<style>
	.mdl-textfield{
		float: right;
	}
	.titulo .fa{
		font-size: 21pt;
		padding-right: 1%;
		margin-top: 1%;
	}
	.header_desktop .form-group{
		border-color: #82ce0a;
	}
	.header_desktop{
		padding: 11px 0px 0px 0;
	}
	.header_desktop .titulo span{
		font-family: 'Pacifico', cursive;
		font-size: 20pt;
		color: #fff;
	}
	.form-group .fa{
		position: absolute;
		right: 8%;
		top: 14%;
		font-size: 19px;
		color: #ddd;
	}
</style>