
<div class="col-xs-12 header_desktop">
	<div class="col-xs-9 titulo">
		<i class="fa fa-futbol-o" aria-hidden="true"></i><span>Onde Tem Jogo</span>
	</div>
	<div class="col-xs-3 input_pesquisa">

		<div class="form-group col-xs-12" >
			<i class="fa fa-search" aria-hidden="true" ng-click="pesquisarString()"></i>
			<input type="text" class="form-control" id="pesquisa"  ng-model="model_pesquisa">

		</div>
	</div>
</div>
<style>
	.mdl-textfield{
		float: right;
	}
	.titulo .fa{
		font-size: 21pt;
		padding-right: 1%;
		margin-top: 1%;
	}
	.header_desktop .form-group{
		border-color: #82ce0a;
	}
	.header_desktop .form-group .form-control{
		background-color: transparent;
		border-left: none;
		border-right: none;
		border-top: none;
		box-shadow: none;
		color: #fff;
		border-bottom-color: #fff;
	}
	.header_desktop{
		padding: 11px 0px 0px 0;
	}
	.header_desktop .titulo span{
		font-family: 'Pacifico', cursive;
		font-size: 20pt;
		color: #fff;
	}
	.form-group .fa{
		position: absolute;
		right: 8%;
		top: 14%;
		font-size: 19px;
		color: #fff;
		cursor: pointer;
	}

</style>
