	<div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/index">Onde tem jogo?</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> Altieres de Matos <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#"><i class="fa fa-fw fa-user"></i> Perfil</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Configurações</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#"><i class="fa fa-fw fa-power-off"></i> Sair</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li>
                        <a href="javascript:;" data-toggle="collapse" class="menuExpansivo collapsed" data-target="#confConta"><i class="fa fa-fw fa-arrows-v"></i> Configurações de conta <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="confConta" class="collapse">
                            <li>
                                <a href="#">Editar perfil</a>
                            </li>
                            <li>
                                <a href="#">Alterar senha</a>
                            </li>
                        </ul>
                    </li>
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#estabel"><i class="fa fa-fw fa-arrows-v"></i> Gerenciar estabelecimentos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="estabel" class="collapse">
                            <li>
                                <a href="#">Adicionar Estab.</a>
                            </li>
                            <li>
                                <a href="#">Excluir Estab.</a>
                            </li>
                        </ul>
                    </li>
					<li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#evento"><i class="fa fa-fw fa-arrows-v"></i> Gerenciar eventos <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="evento" class="collapse">
                            <li>
                                <a href="#">Criar Evento</a>
                            </li>
                            <li>
                                <a href="#">Excluir Evento</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->