<section id="meuTime" class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<form role="form">
				<div class="form-group">
					<label for="pesquisaTime" id="lblPesquisa">Precisando de ajuda para encontrar um evento? {{eventCtrl.search}}</label>
					<input type="text" id="pesquisaTime" auto-complete ui-items="names" ng-model="search" name="inicial_search" placeholder="Digite aqui o nome do seu time do coração" class="form-control search-box-style"/>
					<span id="lupaPesquisaSearch" class="glyphicon glyphicon-search"></span>
				</div>
				<div class="form-group">
					<label id="lblSearch">Você está procurando por {{eventCtrl.search}}</label>
				</div>
			</form>
		</div>
	</div>
</section>
<section id="events" class="content">
	<div  class="container-fluid">
		
	</div>
</section>