<div class="row">
    <div class="col-sm-12">
		<footer>
			<div class="grama">
			</div>
			<div class="centerRodape">
				<ul class="list-inline">
					<li><a class="linkRodape">Plataforma Onde Tem Jogo © 2016</a></li>
					<li><a class="linkRodape">Termos de Uso</a></li>
					<li><a class="linkRodape">Privacidade</a></li>
					<li><a class="linkRodape">Segurança</a></li>
					<li><a class="linkRodape">Contato</a></li>
					<li><a class="linkRodape">Ajuda</a></li>
				</ul>
			</div>
		</footer>
	</div>
</div>