<div id="signin-form" class="row-fluid form-signin-signup">
  <div class="col-sd-4 col-md-6 col-lg-7"></div>
  <div class="col-sd-6 col-md-4 col-lg-3">
    <form>
      <span class="form-signin-heading"><h4>Acessar plataforma</h4></span>
      <input type="text" name="email" value="" placeholder="digite seu e-mail" class="form-control" ng-model="login.email" required>
      <input type="password" name="senha" value="" placeholder="digite sua senha" class="form-control" ng-model="login.senha" required>
      <button class="btn btn-lg btn-primary btn-block" type="submit" ng-click="efetuarLogin(login)">Entrar</button>

    <div>
      <br><span>Faça login usando</span>
      <br>
      <a class="navbar-brand imgLoginAlternativo" href="#">
        <span id="iconTwitter"></span>
      </a>
      <a class="navbar-brand imgLoginAlternativo" href="#">
        <span id="iconFacebook"></span>
      </a>
      <a class="navbar-brand imgLoginAlternativo" href="#">
        <span id="iconGoogle"></span>
      </a>
  </div>
  </form>
  </div>

  <div class="col-sd-2 col-md-2 col-lg-2"></div>
</div>
