<section id="meuTime" class="content">
	<div class="container-fluid">
		<div class="row-fluid">
			<form role="form">
				<div class="form-group" >
				<label for="pesquisaTime" id="lblPesquisa">Precisando de ajuda para encontrar um evento?</label>
					<input type="text" id="pesquisaTime" auto-complete ui-items="names" ng-model="selected" name="inicial_search" value="" placeholder="Digite aqui o nome do seu time do coração" class="form-control search-box-style"/>
					 <span class="glyphicon glyphicon-search lupaPesquisaSearch"></span>
				</div>
			</form>
		</div>
	</div>
</section>
<section id="torcedor" class="content">
	<div  class="container-fluid">
		<div class="row">
		  <h1>Eu quero ver Gooool!</h1>
		  <br/>
		  <p>Para você: Encontre de maneira fácil e rápida locais onde você possa ver e torcer pelo seu time de coração.</p>
		  <br/>
		  <p>Para seus amigos: Encontre rapidamente seus amigos para juntar forças e torcer pelo seu time de coração.</p>
		</div>
	</div>
</section>
<section id="time" class="content">
	<div  class="container-fluid">
		<div class="row">
		  <h1>Todos os campeonatos mais próximos de você!</h1>
		  <br/>
		  <p>Para você: Encontre de maneira fácil e rápida locais onde você possa ver e torcer pelo seu time de coração.</p>
		  <br>
		  <p>Para seus amigos: Encontre rapidamente seus amigos para juntar forças e torcer pelo seu time de coração.</p>
		</div>
	</div>
</section>
<section id="empresa" class="content">
	<div  class="container-fluid">
		<div class="row">
			<header><h1>Onde vamos assistir o jogo?</h1></header>
			<p>Para sua empresa: Divulgue para todos o que sua empresa oferece de melhor.</p>
	  </div>
	</div>
</section>
