<div class="container">
	<div class="col-xs-2" >
	</div>
	<div class="listagemCadastro col-xs-8" >
		<div class="content times">
			<div class="col-xs-4 col-sm-5 casaColor">
				<div class="col-xs-11 col-sm-11">
					<div class="centro">Casa</div>
					<p>
						<div>
							<img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
						</div>
					</p>
					<div class="centro">Time 1</div>
				</div>
			</div>
			<div class="col-xs-4 col-sm-2 dtHoraInformacao">
				<p class="centro">08/11/2016</p>
				<p class="centro">Quarta-feira</p>
				<p class="centro">22:49</p>
			</div>
			<div class="col-xs-4 col-sm-5 visitanteColor">
				<div class="col-xs-11 col-sm-11">
					<div class="centro">Visitante</div>
					<p>
					<div>
						<img class="img-circle img-responsive img-center" src="http://placehold.it/150x150" alt="">
					</div>
					</p>
					<div class="centro">Time 2</div>
				</div>
			</div>
		</div>

		<div class="content col-xs-12 dadosEstabelecimento">
			<div class="form-horizontal">
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="estabelecimento">Estabelecimento</label>
				  	<div class="col-md-6">
				  		<input id="estabelecimento" name="estabelecimento" placeholder="" class="form-control input-md" required="" type="text">
		  			</div>
	  			</div>
				<div class="form-group">
				  	<label class="col-md-4 control-label" for="disponivel">À partir</label>
				  	<div class="col-md-4">
					  <div uib-timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></div>
				  	</div>
					<span class="help-block">Horário que ja vai estar no canal do jogo</span>
				</div>
				<div class="col-xs-12 centro">
					<div class="btn-group">
						<button type="button" class="btn btn-success">Salvar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
