<style type="text/css">
.listagemCadastro {
	border: 2px solid #000;
	margin-bottom: 15px;
}
</style>

<div class="container">
	<div class="listagemCadastro col-xs-12" >
		<ul class="col-xs-12">
			<div class="col-xs-6">
				<label for="basic-url">Cadastro de Evento:</label>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">Data do Evento:</span>
					<input type="datetime-local" class="form-control" id="dataDoEvento" placeholder="Digite a data do evento aqui"  ng-model="dataDoEvento" aria-describedby="basic-addon2">
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">Time de Casa:</span>
					<input type="text" class="form-control" id="timeDeCasa" placeholder="Digite aqui o nome do Time de Casa"  ng-model="timeDeCasa" aria-describedby="basic-addon2">
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">Time de Fora:</span>
					<input type="text" class="form-control" id="timeDeFora" placeholder="Digite aqui o nome do Time de Fora"  ng-model="timeDeFora" aria-describedby="basic-addon2">
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon" id="basic-addon2">Estabelecimento:</span>
					<input type="text" class="form-control" id="estabelecimento" placeholder="Digite aqui o nome do Estabelecimento"  ng-model="estabelecimento" aria-describedby="basic-addon2">
				</div>
				<br>
				<!-- Single button -->
				<div class="btn-group">
					<button type="button" class="btn btn-default">Salvar</button>
				</div>
			</div>
		</ul>
	</div>
</div>
