<style type="text/css">
	.center {
		text-align: center;
	}
	.listagem .item {
		display: flex;
		align-items: center;
		border: 2px solid #000;
		margin-bottom: 15px;
	}
	.listagem img {
		width: 100%;
	}
	.local {
		display: flex;
		align-items: center;
	}
	.jogo {
		display: flex;
		align-items: center;
	}
	.div-img {
		padding: 15px;
	}
	.titulo {
		margin: 0;
	}
	.time {
		width: 100%;
	}
	ul {
		margin-top: 20px;
	}

</style>
<div class="container">
	<div class="listagem col-xs-12" >
		<ul class="col-xs-12">
			<li class="item col-xs-12" ng-repeat="x in value">
				<div class="local col-xs-8">
					<div class="div-img col-xs-3">
						<img src="img/chopp.jpg">
					</div>
					<div class="col-xs-9">
						<h3 class="titulo">{{x.establishmentName}}</h3>
						<span>{{x.establishmentName}}</span>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="jogo">
						<div class="col-xs-3">
							<img class="time casa" src="img/sp.png">
						</div>
						<div class="col-xs-3 center">X</div>
						<div class="col-xs-3">
							<img class="time fora" src="img/corinthians.png">
						</div>
					</div>
					<span class="col-xs-12">Morumbi, 15/10/16 as 21:40h</span>
				</div>
			</li>
		</ul>
	</div>
</div>
