<div class="col-xs-12 header_desktop">
	<div class="col-xs-9 titulo">
		<i class="fa fa-futbol-o" aria-hidden="true"></i><span>Onde Tem Jogo</span></div>
		<div class="col-xs-3 input_pesquisa">
			<div class="form-group">
				<i class="fa fa-search" aria-hidden="true"></i>
				<input type="text" class="form-control" id="exampleInputEmail1" placeholder="Pesquisa">
			</div>
		</div>
	</div>
	<style>
		.titulo .fa{
			font-size: 21pt;
			padding-right: 1%;
		}
		.header_desktop .form-group{
			border-color: #82ce0a;
		}
		.header_desktop{
			padding: 11px 0px 0px 0;
		}
		.header_desktop .titulo span{
			font-family: 'Pacifico', cursive;
			font-size: 20pt;
			color: #fff;
		}
		.form-group .fa{
			position: absolute;
			right: 8%;
			top: 14%;
			font-size: 19px;
			color: #ddd;
		}

	</style>